/* .all_students {} */

.all_students_inner {
  display: flex;
}

/* .all_students_left_box {} */

.all_students_right_box {
  width: 80vw;
  padding-left: 0px;
  padding-top: 0px;
  overflow-y: scroll;
  height: 100vh;
}

.all_students_right_box_inner {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  /* .all_students {} */

  .all_students_inner {
    display: flex;
  }

  /* .all_students_left_box {} */

  .all_students_right_box {
    width: 100vw;
    padding-left: 0px;
    padding-top: 0px;
  }

  .all_students_right_box_inner {
    width: 100%;
    padding-left: 0px;
    display: flex;
  }

}
@media (max-width: 520px) {
  /* .all_students {} */

  .all_students_inner {
    display: flex;
  }

  /* .all_students_left_box {} */

  .all_students_right_box {
    width: 100vw;
    padding-left: 0px;
    padding-top: 0px;
  }

  .all_students_right_box_inner {
    width: 100%;
    padding-left: 0px;
    display: flex;
  }

}