/* .home {} */

.group_inner {
  display: flex;
}

/* .home_left_box {} */

.group_right_box {
  width: 80vw;
  padding-left: 0px;
  padding-top: 0px;
  overflow-y: scroll;
  height: 100vh;
}
.group_right_box_inner {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
.group_inner {
  display: flex;
}

.group_right_box {
  width: 100vw;
  padding-left: 0px;
  padding-top: 0px;
}
.group_right_box_inner {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}
}
