.light {
  background-color: #EAEDFA;
}
.other {
  background: #ffffff;
}

.header {
  width: 100%;
  background-color: #fff;
  padding: 20px;
}

.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.header_paragraph {
  font-size: 30px;
  color: #0061F7;
  font-weight: 700;
  opacity: 0.9;
}

.header_date {
  color: #0061F7;
  font-size: 20px;
  font-weight: 600;
}

.header_select {
  border: none;
  
}

/* .header_option {} */

.header_mode {
  margin-left: 30px;
}
.header_box {
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
  .header {
    width: 95vw;
    background-color: #fff;
    padding: 20px;
  }
  .header_paragraph {
    font-size: 30px;
    color: #0061F7;
    font-weight: 700;
    opacity: 0.9;
    margin-left: 50px;
  }
}
@media (max-width: 520px) {
  .header {
    width: 100vw;
    background-color: #fff;
    padding: 20px;
  }
  .header_paragraph {
    font-size: 30px;
    color: #0061F7;
    font-weight: 700;
    opacity: 0.9;
    margin-left: 50px;
  }
  .header_date {
    display: none;
    color: #0061F7;
    font-size: 20px;
    font-weight: 600;
  }
}

@media (max-width: 450px) {
  .header {
    width: 100vw;
    background-color: #fff;
    padding: 20px;
  }
  .header_paragraph {
    font-size: 24px;
    color: #0061F7;
    font-weight: 700;
    opacity: 0.9;
    margin-left: 30px;
  }
  .header_date {
    display: none;
    color: #0061F7;
    font-size: 20px;
    font-weight: 600;
  }
  .header_mode {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
}