/* .home {} */

.student_inner {
  display: flex;
}

/* .student_left_box {} */

.student_right_box {
  width: 80vw;
  padding-left: 0px;
  padding-top: 0px;
}
.student_right_box_inner {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
