/* .home {} */

.apeal_inner {
  display: flex;
}

/* .home_left_box {} */

.apeal_right_box {
  width: 80vw;
  padding-left: 0px;
  padding-top: 0px;
}
.apeal_right_box_inner {
  padding-left: 20px;
  display: flex;
}
